@media (min-width: 1800px) {
    html {
        font-size: 16px;
    }

    .main_container {
        transform: scale(1.2);
    }
}

@media (max-width: 1800px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1500px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1350px) {
    html {
        font-size: 10px;
    }
}